.App {
    min-height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
.no-scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 9999px;
}
.no-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
